.analysis-inputs {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
}

.analysis-inputs img {
    border: 5px solid #64C;
    box-sizing: border-box;
    height: 35vw;
    width: 35vw;
    border-radius: 10px;
}

.analysis-inputs button {
  align-items: center;
  background: #26064b;
  border: 0;
  border-radius: 8px;
  box-shadow: 3px 7px 10px 1px #26064b, 10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

.button-67:hover {
  background: #26064b;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

@media (min-width: 768px) {
  .button-67 {
    padding: 24px;
  }
}
        