.analysis-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 1rem
}

@media (width < 680px) {
    .analysis-inputs {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;

        min-width: 100%;
    }

    .caption-container {
        min-height: 10vh;
    }

    .loading-element-circle {
        min-width: 6%;
    }
}

.analyzed-image {
    grid-column: 1 / 2;
    border: 2px solid #271547;
    box-shadow: 3px 7px 10px 1px #271547, 10px 10px 30px 0 #1d0dca17;
    box-sizing: border-box;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
    border-radius: 10px;
}

.image-spawn {
    animation: imageSpawn 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes imageSpawn {
    0% {
        scale: 0; opacity: 0
    } 
      100% {
        scale: 1; opacity: 1
    }
}

.caption-container {
    width: 100%;
    height: 100%;
    grid-column: 2 / -1;

    border: 1px solid rgba(35, 14, 75, 0.438);
    border-radius: 8px;
    background: #20133b9f;

    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(10px);
}

.analysis-inputs input {
    min-width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border: 0;
    border-radius: 8px;
    background: #1e0c3dc4;
    box-shadow: 3px 7px 10px 1px #271547, 10px 10px 30px 0 #1d0dca17;
    color: white;
    
    font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
}


#url-pulser{
    border-radius: 8px;
}

.url-pulser-animation {
    animation: pulser 2s infinite;
}

@keyframes pulser {
    0% {
        box-shadow: 0 0 0 0px rgba(125 74 169 / 75%);
      }
      100% {
        box-shadow: 0 0 0 8px rgba(125 74 169 / 0);
      }
}

/*                          BUTTON STYLES                           */

.analysis-inputs button {

    grid-column: -3 / -2;   
    
    box-sizing: border-box;
    padding: 15px;
    border: 0;
    border-radius: 8px;
    background: #1e0c3dc4;
    box-shadow: 3px 7px 10px 1px #271547, 10px 10px 30px 0 #1d0dca17;
    color: white;
    
    cursor: pointer;
    font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    font-size: 1rem;
    line-height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition:
        background 0.3s ease-in-out;
}

.analysis-inputs button:hover {
  background: #330666;
  box-shadow: 3px 7px 10px 1px #26064b, 10px 10px 30px 0 #1d0dca17;
}

.loading-element {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 4px;
    height: 70%;
    width: 70%;
}

.loading-element-circle {
    aspect-ratio: 1/1;
    background: rgb(99, 89, 122);
    border-radius: 100%;

    animation: loader 1s infinite alternate;
}

.loading-element-circle:first-child {
    animation-delay: 0.1s;
}

.loading-element-circle:nth-child(2) {
    animation-delay: 0.3s;
}

.loading-element-circle:last-child{
    animation-delay: 0.5s;
}

@keyframes loader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}