.analysis-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 1rem
}
.analysis-inputs img {
    border: 2px solid #271547;
    box-shadow: 3px 7px 10px 1px #271547, 10px 10px 30px 0 #1d0dca17;
    box-sizing: border-box;
    height: 35vw;
    width: 35vw;
    border-radius: 10px;
}

.analysis-inputs div {
    width: 100%;
    height: 100%;
    grid-column: 2 / -1;

    border: 1px solid rgba(35, 14, 75, 0.438);
    border-radius: 8px;
    background: #20133b9f;

    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(10px);
}

.analysis-inputs input {
    grid-column: 1 / -3;
    box-sizing: border-box;
    padding: 15px;
    border: 0;
    border-radius: 8px;
    background: #1e0c3dc4;
    box-shadow: 3px 7px 10px 1px #271547, 10px 10px 30px 0 #1d0dca17;
    color: white;
    
    font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    font-size: 1rem;
    line-height: 1.5rem;
}

.analysis-inputs input::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: #20133b;
    z-index: -1;
}

.analysis-inputs input::marker{
    background: #9f73d1;
}

/*                          BUTTON STYLES                           */

.analysis-inputs button {

    grid-column: -3 / -2;   
    
    box-sizing: border-box;
    padding: 15px;
    border: 0;
    border-radius: 8px;
    background: #1e0c3dc4;
    box-shadow: 3px 7px 10px 1px #271547, 10px 10px 30px 0 #1d0dca17;
    color: white;
    
    cursor: pointer;
    font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    font-size: 1rem;
    line-height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition:
        background 0.3s ease-in-out,
        box-shadow 0.3s ease;
}

.analysis-inputs button:hover {
  background: #330666;
  box-shadow: 3px 7px 10px 1px #26064b, 10px 10px 30px 0 #1d0dca17;
}

.loading-element {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 4px;
    height: 70%;
    width: 70%; 
}

.loading-element-circle {
    background: #520aa5;
    aspect-ratio: 1/1;
    border-radius: 50%;

    animation: loader 1s infinite alternate;
}

.loading-element-circle:first-child {
    animation-delay: 0.1s;
}

.loading-element-circle:nth-child(2) {
    animation-delay: 0.3s;
}

.loading-element-circle:last-child{
    animation-delay: 0.5s;
}

@keyframes loader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}